/* 
EB Garamond: CSS class for a variable style
<weight>: Use a value from 400 to 800
<uniquifier>: Use a unique and descriptive class name
.eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
Roboto: CSS class for a variable style
<weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name
.roboto-<uniquifier> {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
Mulish: CSS class for a variable style
<weight>: Use a value from 200 to 1000
<uniquifier>: Use a unique and descriptive class name
.mulish-<uniquifier> {
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
Noto Serif: CSS class for a variable style
<weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name
.noto-serif-<uniquifier> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

:root {
  --background-color: rgb(87, 99, 109);
  /*paynes' gray */
  --primary-color-transparent: rgba(87, 99, 109, .5);
  --secondary-color: rgb(194, 186, 201);
  /*French Gray*/
  --secondary-color-transparent: rgba(194, 186, 201, .85);
  /*French Gray*/
  --transparent-white: RGBA(255, 255, 255, .75);
  --color-orange-brown: rgb(203, 138, 105);
  --color-purple: rgb(184, 171, 186);
  /*Use the orange-brown (cb8a69) and purple (b8abba) sparingly for accents, calls to action, or highlights.*/
  --font-Serif: "Noto Serif", "EB Garamond", serif;
}


* {
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
  max-width: 1200px;

}

body {
  font-family: "Roboto", "Mulish", sans-serif;
  margin: 0 auto;
}

/* Mobile View ***************/

#menu {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  color: #000;
  position: absolute;
  bottom: 100px;
  right: 20px;

}

#menu.open::before {
  content: "x";
  font-size: 40px;


}

#menu::before {
  content: "≡";
  position: fixed;
  padding-top: 20px;
  right: 0;
  padding-right: 30px;
  font-size: 60px;
  font-weight: bold;
}

.navigation {
  list-style: none;
  margin: 0 auto;
  max-width: 760px;
}


.navigation li {
  display: none;
}

.navigation a {
  display: block;

  text-align: left;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: var(--font-Serif)
}

.navigation a:hover,
.navigation a:active {
  color: #46084f;
  font-weight: 700;
  text-decoration: underline;
}

.open li {
  display: block;
}



/*  view                      */

header {
  font-family: var(--font-Serif);
  display: flex;
  grid-template-columns: 50px .5fr 4fr;
  align-items: center;
  background-color: var(--background-color);
  width: 100%;
  padding: 5px;
  margin: 5px;
  position: relative;
  justify-content: space-around;
}

h1 {
  color: white;
  font-size: 35px;
  text-align: center;
}

img {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: center;
  width: 150px;
  height: auto;
}









.top1 img {
  float: right;
  margin: 0 0 10px 15px;
  border: 1px solid black;
  padding: 3px;
  background-color: gray;
  width: 50%;
  height: auto;
  max-width: 100%;
}

.history h3 {
  width: 100%;
}

.history-content {

  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
  margin-bottom: 15px;
}

.history-content p {
  flex: 1;
}

.side {
  flex-shrink: 0;
  max-width: 30%;
}

.side img {
  width: 100%;
  height: auto;
}


main,
ol,
ul {
  max-width: 1200px;
  margin: 10px;
  padding: 5px 10px 5px 10px;
  grid-template-columns: 2fr 1fr;
}

ul li,
ol li {
  margin-left: 30px;
}


h2,
h3 {
  font-family: "Noto Serif", "EB Garamond", serif;
  margin-top: 25px;
}

.coin-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 5px;
  justify-content: center;
  padding: 15px;

}

.card {
  width: 100%;
  background-color: rgb(237, 234, 234);
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
}

.card img {
  width: 80%;
  height: auto;
  border-radius: 5px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
  margin-top: 1em;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

#ref {
  text-decoration: none;
  font-size: 12px;
}


figcaption {
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  color: brown;

}

/*  searched coins */
.coin-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 5px;
  padding: 15px;
  width: 285px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  height: 300px;
}

.coin-card img {
  height: audo;
  max-width: 300px;
  cursor: pointer;
  transition: transform 0.2s;
}

.coin-card h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.coin-card p {
  font-size: 1em;
  color: #555;
  margin: 5px 0;
  align-items: end;
}


footer {
  font-family: var(--font-Serif);
  display: grid;
  align-items: center;
  background-color: var(--background-color);
  max-width: 1200px;
  padding: 5px;
  margin: 5px;
  color: white;
}