/* 
EB Garamond: CSS class for a variable style
<weight>: Use a value from 400 to 800
<uniquifier>: Use a unique and descriptive class name
.eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
Roboto: CSS class for a variable style
<weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name
.roboto-<uniquifier> {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
Mulish: CSS class for a variable style
<weight>: Use a value from 200 to 1000
<uniquifier>: Use a unique and descriptive class name
.mulish-<uniquifier> {
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
Noto Serif: CSS class for a variable style
<weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name
.noto-serif-<uniquifier> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

:root {
  --primary-color: rgb(87, 99, 109);
  /*paynes' gray */
  --primary-color-transparent: rgba(87, 99, 109, .5);
  --secondary-color: rgb(194, 186, 201);
  /*French Gray*/
  --secondary-color-transparent: rgba(194, 186, 201, .85);
  /*French Gray*/
  --transparent-white: RGBA(255, 255, 255, .75);
  --color-orange-brown: rgb(203, 138, 105);
  --color-purple: rgb(184, 171, 186);
  /*Use the orange-brown (cb8a69) and purple (b8abba) sparingly for accents, calls to action, or highlights.*/
}





* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Mulish", sans-serif;
  text-align: left;
  margin: 0 auto;
}

header {
  font-family: "EB Garamond", "Noto Serif", serif;
  display: grid;
  background-color: #57636D;
  color: white;
  grid-gap: 1rem;

}



main,
ul {
  max-width: 1200px;
  margin: 10px;
  padding: 5px 10px 5px 10px;

}

h2,
h3 {
  font-family: "Noto Serif", "EB Garamond", serif;
}

img {
  border: Solid Black;
}