
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    max-width: 840px;

}

h1 {
    padding: 10px;
    font-size: 15px;
}

header {
    background-color: rgb(75, 69, 69);
    color: white;

}


.navbar {
    list-style: none;
    display: flex;
    background-color: #080808;
    font-family: sans-serif;
    justify-content: space-around;
    padding: 15px;
}

.navbar a {
    color: #eee;
    text-decoration: none;
}



main {
    display: grid;
    color: #333;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
}


.main-content {
    grid-column: 1 / 3;
    background-color: darkgrey;

}

.asidea {
    grid-column: 3 / 4;
}

footer {
    max-width: 840px;
    background-color: rgb(75, 69, 69);
    text-align: center;
    height: 200px;
    color: white;
    padding: 10px;
}