@media only screen and (min-width: 768px) {


    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .star {
        display: block;
        flex-direction: column;
        justify-content: center;
    }
}