@media only screen and (min-width: 40em) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .star {
        display: block;
        flex-direction: column;
        justify-content: center;
    }
}