:root {
    --primary-color: rgb(2, 120, 2);
    /*green */
    --primary-color-transparent: rgba(2, 120, 2, .5);
    --secondary-color: rgb(238, 14, 14);
    /*red*/
    --secondary-color-transparent: rgba(238, 14, 14, .85);
    /*red*/
    --transparent-white: RGBA(255, 255, 255, .75);
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--primary-color);
    /*green*/
    height: auto;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}



.hero {
    padding: 10px;
    display: grid;
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    /*red*/
}

.hero img {
    width: 100%;
    height: auto;
}

.data {
    position: absolute;
    left: -8px;
    top: 0;
    width: 90%;
}

.container {
    position: absolute;
    left: 40px;
    top: 40px;
    border: 1px solid black;
    padding: 10px;
    background-color: var(--transparent-white);
}

h2 {
    position: absolute;
    background-color: var(--secondary-color-transparent);
    /*red*/
    padding: 15px;
    border-left: 5px;
    color: white;
}

.content {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 8px;
    text-align: left;
    padding-top: 90px;
}

.content div {
    display: contents;
    float: right;
}

.content span:first-child,
.weather span:first-child {
    font-weight: bold;
    text-align: right;
}

.container2 {
    position: absolute;
    display: grid;
    bottom: 40px;
    right: 40px;
    border: 1px solid black;
    padding: 10px;
    background-color: var(--transparent-white);
    place-items: center;
}

.container2 img {
    width: 0px;
    height: auto;
    padding-top: 0px;
}

.weather1-header {
    display: inline-flex;
    position: absolute;
    bottom: 130px;
    width: 85%;
    margin-left: -20px;
}

.weather1-header::after {
    content: "🌞";
    display: inline;
    margin-left: 20px;
}

.weather {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 8px;
    text-align: left;
    padding-top: 70px;
}

.weather div {
    display: contents;
    bottom: 20px;
    right: 20px;
    float: right;
}


footer {
    background-color: var(--primary-color);
    width: auto;
    color: black;
    padding: 10px;
    width: 100%;
}

footer p {
    text-align: center;
    color: white;
}

/* media query for small screens */
@media (max-width: 750px) {


    .container,
    .container2 {
        position: static;
        width: 100%;
        border: none;
        text-align: center;
        background-color: white;
    }

    .content,
    .weather {
        display: grid;
        grid-template-columns: max-content auto;
        justify-content: center;
        padding: 10px;
        margin: 0px;
        width: 100%
    }

    h2 {
        position: static;
        background-color: white;
        color: black;
        padding: 1px;
        justify-content: center;
        width: 100%;

    }

    .weather1-header,
    .data {
        position: static;
        margin: 0 auto;
    }

    .container2 img {
        width: 40px;
        height: auto;
        padding-top: 0px;
    }

    .weather1-header::after {
        content: "";
    }

    .hero {
        background-color: var(--secondary-color);
        padding: 0;
    }
}