@media only screen and (min-width: 40em) {
    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 100%;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    .menu1 {
        display: flex;

    }



}